*,html{
  box-sizing:border-box
}



html, body {
  font-family: 'Fraunces', serif;
  font-weight:400; 
  margin-top: 0;
  background-color:#F9F6F0;
}

h1{
  font-family: 'Fraunces', serif;
  font-weight:700; 
  font-size: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
  color:red;
  text-align: center;
}

.board{
  margin-left: auto;
  margin-right: auto;
  width: 650px;

}

.fromList{
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  justify-content: center;

}

.ingredientCard{
  /* flex-basis: 26%; */
  display: flex;
  height: 130px;
  width: 130px;
  border-radius: 3px;  
  background-color:#E9DAC4;
  opacity: 0.4;
  margin: 4px;  
  justify-content: center;
  align-items: center;
}

.ingredientCard:hover{
  opacity: 1;
  background-color: #a8dadc;
  border: 6px solid #ffffff;
  border-color: white;
}

.selected{
  opacity: 1;
  border: 6px solid #ffffff;
  background-color: #ffd15d;
  border-color: white;
}

.ingImg{  
  width: 100px;
  height:100px;
  opacity: 1;
}

.recipeName {
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
}

.recipeImage {
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: block;
}

.recipeContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.recipeIngImg{
  width: 120px;
  height: 120px;
}

.recipeSteps{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a{
  color: #ffd15d;
  text-decoration: none;

}

.recipeList{
   color:  #174D97;
  font-family:'Fraunces', serif; 
  font-size: 41px;
  text-align: center;
}


.recipeLink{ 
  text-align: center;
  list-style: none;
  /* color: #ffd15d; */
  color: #ffd15d;

  font-weight:550; 
  font-size: 28px;
  padding:2px;
}

a:hover{
  /* color: #FFB5A6; */
  /* color: #FF8C61; */
  /* orange */
  color: #FF5E38;
  opacity:0.9;
}


