body {
  font-family: 'Fraunces', serif;
  font-weight:400; 
  
  background-color:#F9F6F0;
}

h1{
  font-family: 'Fraunces', serif;
  font-weight:700; 
  font-size: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
  color:red;
  text-align: center;
}

.board{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fromList{
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  justify-content: center;
}

.ingredientCard{
  display: flex;
  height: 120px;
  width: 120px;
  border-radius: 3px;
  /* background-color:#E9DAC4; */
  background-color:#b8ffff;
  opacity: 0.4;
  margin: 4px;  
  justify-content: center;
  align-items: center;
}

img{  
  width: 100px;
  height:100px;
  opacity: 1;
}